@import '/src/assets/styles/variables.scss';
@import '/src/assets/styles/animations.scss';

.wrapper {
	position: relative;

	.logout {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 18px;
	}

	button {
		font-size: 30px;

		> svg {
			animation: opacity 0.4s ease-in-out;
		} > path {
			fill: #fff;
		}
	}

	.menu {
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		background-color: #fff;
		padding: 10px 12px;
		font-size: 18px;
		box-shadow: $bx-16;
		border-radius: 10px 0px 10px 10px;
		min-width: 116px;
		display: none;
		animation: opacity 0.4s ease-in-out;

		&.show {
			display: block;
		}

		ul {
			list-style: none;

			a {
				color: #000;
				text-decoration: none;
				transition: color 0.2s ease;
				&:hover,
				&:active {
					color: $accent;
					margin: 4px 0;
				}
			}

			li {
				font-size: 18px;
				width: 105px;
				font-family: $default-font;
			}

			button {
				font-family: $default-font;
				color: #000;
				text-decoration: none;
				transition: color 0.2s ease;
				font-family: $default-font;
			}
		}
	}
}
